
.navbar{
  display: flex;
  background-color: #F4A10C;
  color: #000000;
  font-family: 'Dogica';
  padding: 0 40px 0 40px;
}

.account{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.profile{
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 16px;
}

.profile img {
  padding: 5px;
}

.wallet{
  display: flex;
  margin: 10px;
  font-size: 12px;
}

.grid{
  display: grid;
  grid-template-columns: 20% 80%;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'DogicaPixelRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 12px;
}

.menu{
  background: #242735;
  border-right: 0.5px solid #F4A10C; 
  padding: 20px;
}

.cluse{
  border: 1px solid #F4A10C;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cluse-edit{
  display: flex;
  margin: 5px;
  padding: 10px;
}

.cluse-btn{
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.logout{
  display:flex;
  margin-top: 50px;
  padding: 10px;
  color: #F4A10C;
}

.logout:hover{
  cursor: pointer;
}
.logout img {
  margin-left: 20px;
}

.menu ul{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu li{
  display: flex;
  padding: 10px;
  align-items: center;
  border: 1px solid rgba(244, 161, 12, 0.3);
  border-radius: 8px;
  margin: 10px 0;
}

.menu li:hover {
  cursor: pointer;
}

.selected {
  background: #F4A10C;
  color: #000000;
  border-radius: 8px;
}

.menu img{
  padding: 10px;
}

.dashboard{
  background: #242735;
  height: 100%;
  display: grid;
  grid-template-rows: 15% 85%;
  padding: 20px;
  font-family: Roboto;
}

.email-setup{
  display: flex;
  flex-direction: column;
  background: linear-gradient(58.34deg, #4518DB 11.46%, #7B29FF 74.86%);
  border-radius: 10px;
  padding: 10px 40px ;
}

.login-btn{
  display: flex;
  align-items: center;
  border: 0.5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  width: 30%;
}

.login-btn img{
  margin: 10px;
}

.login-btn p{
  margin: 0px;
}

.blockchain-info{
  display: flex;
  flex-direction: column;
}

.blockchain-info h3{
  color: #777B8A;
}

.content {
  display: flex;
}

.token {
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  background: linear-gradient(208.27deg, #000000 0%, #676767 95.3%);
  border: 1px solid #303030;
  box-sizing: border-box;
  border-radius: 10px;
}

.token h4 {
  margin: 10px;
}

.token h1 {
  text-align: center;
}

.token-btn {
  display: flex;
  align-items: center;
  font-family: Roboto;
}

.deposit {
  background-color: #FBBF24;
  color:  black;
  border-radius: 6px;
  margin: 10px;
} 

.deposit p {
  margin: 5px 40px; 
}

.withdraw {
  border-radius: 6px;
  border: 0.5px solid #FFFFFF;
  box-sizing: border-box;
  margin: 10px;
} 

.withdraw p {
  margin: 5px 40px; 
}
